.prism-titlename {
    background-color: transparent;
    border-bottom: 1px solid gray;
}

pre {
    position: relative;
}

pre[class*='language-']::before {
    background: black;
    border-radius: 0 0 0.25rem 0.25rem;
    color: white;
    font-size: 12px;
    letter-spacing: 0.025rem;
    padding: 0.1rem 0.5rem;
    position: absolute;
    right: 1rem;
    text-align: right;
    text-transform: uppercase;
    top: 0;
}
pre[class*='language-js']::before {
    content: 'js';
    background: #f7df1e;
    color: black;
}
pre[class*='language-css']::before {
    content: 'css';
    background: #0076d6;
    color: black;
}
pre[class*='language-javascript']::before {
    content: 'js';
    background: #f7df1e;
    color: black;
}
pre[class*='language-js']::before {
    content: 'js';
    background: #f7df1e;
    color: black;
}
pre[class*='language-jsx']::before {
    content: 'jsx';
    background: #61dafb;
}
pre[class*='language-typescript']::before {
    content: 'ts';
    background: #294e80;
}
pre[class*='language-ts']::before {
    content: 'ts';
    background: #294e80;
}
pre[class*='language-tsx']::before {
    content: 'tsx';
    background: #294e80;
}
pre[class*='language-graphql']::before {
    content: 'GraphQL';
    background: #e10098;
}
pre[class*='language-html']::before {
    content: 'html';
    background: #005a9c;
}
pre[class*='language-css']::before {
    content: 'css';
    background: #ff9800;
}
pre[class*='language-mdx']::before {
    content: 'mdx';
    background: #f9ac00;
}
pre[class*='language-shell']::before {
    content: 'shell';
}
pre[class*='language-sh']::before {
    content: 'sh';
}
pre[class*='language-bash']::before {
    content: 'bash';
}
pre[class*='language-yaml']::before {
    content: 'yaml';
    background: #ffa8df;
}
pre[class*='language-markdown']::before {
    content: 'md';
}
pre[class*='language-json']::before,
pre[class*='language-json5']::before {
    content: 'json';
    background: #f7df1e;
    color: black;
}
pre[class*='language-diff']::before {
    content: 'diff';
    background: #e6ffed;
}
pre[class*='language-text']::before {
    content: 'text';
    background: white;
}
pre[class*='language-flow']::before {
    content: 'flow';
    background: #e8bd36;
}
pre[class*='language-php']::before {
    content: 'php';
    background: #8993c1;
    color: black;
}
pre[class*='language-python']::before {
    content: 'php';
    background: #8993c1;
    color: black;
}
