/* INI: First menu: Sidebar icons */
.site-header-main .sidemenu-icon {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 42px;
	height: 42px;
	background-color: #1a1a1a;
	cursor: pointer;
}

.site-header-main .sidemenu-icon:hover {
	background-color: #ccac00;
}

.site-header-main .sidemenu-icon .menuicon::before {
	font-family: "Genericons";
	content: "\f419";
	font-size: 24px;
	color: white;
}

.sidemenu-container {
	position: fixed;
	z-index: 15;
	width: 0;
	height: 100vh;
	background-color: #1a1a1a;
	transition: width 0.1s;
}

.sidemenu-container.opened {
	width: 60px;
}

.sidemenu-container:not(.opened) .sidemenu-subcontainer {
	display: none;
}

.sidemenu-container .sidemenu-subcontainer {
	padding: 80px 10px 0 10px;
}

.sidemenu-container .sidemenu-bottom-icons {
	position: fixed;
	bottom: 20px;
	width: 60px;
	left: 21px;
	height: 50px;
}

.sidemenu-container .sidemenu-icon {
	color: white;
	font-size: 20px;
	text-align: center;
	margin-bottom: 10px;
	cursor: pointer;
}

.sidemenu-container .sidemenu-icon:hover {
	color: #ffc600;
}
/* END: First menu: Sidebar icons */

/* INI: Second menu: Drawer */
div.drawer-menu {
    position: fixed;
    z-index: 10;
    width: 0;
    height: 100vh;
    padding-top: 80px;
    margin-left: 55px;
    background-color: white;
}

div.drawer-menu.opened {
	width: 200px;
    box-shadow: 1px 0px 7px 1px #333;
}

div.drawer-menu:not(.opened) .drawer-subcontainer {
	display: none;
}

div.drawer-menu .drawer-subcontainer {
    display: flex;
    align-items: center;
    flex-direction: column;
}

div.drawer-menu .drawer-title {
	display: inline-block;
    font-weight: bold;
    border-bottom: 2px solid black;
	margin-bottom: 20px;
}

div.drawer-menu div.drawer-subcategories {
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 0px 30px;
}
/* END: Second menu: Drawer */