ins.adsbygoogle {
	background: none;
	padding: 0;
}

.feed-ad {
	margin-bottom: 75px;
}

.feed-ad,
.feed-ad ins {
	min-height: 150px;
}

/**
 * Post AD Top
 */
.post-ad-top {
	min-width:728px;
	height:90px;
	margin: 0 auto 30px auto;
}


/**
 * Sticky AD Footer
 */
.sticky-footer-ad-container {
	position: fixed;
	display: flex;
	z-index: 14;
	bottom: 0;
	justify-content: center;
	align-items: center;
	max-width: unset;
	min-width: 300px;
	width: 100%;
	height: 120px;
	margin: 0 auto;
	left: 0;
	right: 0;
	background-color: rgba(0, 0, 0, 0.5);
}

.sticky-footer-ad-container .sticky-footer-ad-box {
	min-width: 300px;
	max-width: 970px;
	max-height: 90px;
}

.sticky-footer-ad-container .sticky-footer-ad-close {
	position: absolute;
	top: -25px;
	left: 0;
	width: 25px;
	height: 25px;
	border: 1px solid #d0d0d0;
	text-align: center;
	cursor: pointer;
	background-color: #e6c619;
	font-family: Arial, sans-serif;
	font-size: 14px;
}

.sticky-footer-ad-container .sticky-footer-ad-close::before {
    content: "X";
	font-weight: bold;
	color: black;
}

.sticky-footer-ad-container ins {
	padding: 0;
}

/**
 * 14.1 - >= 710px
 */
@media screen and (min-width: 44.375em) {
	.sticky-footer-ad-container {
		width: calc(100% - 40px);
	}

	.sticky-footer-ad-container .sticky-footer-ad-close {
		top: 3px;
		left: 3px;
	}
}