/**
 * 16.1 Header
 */
.mobile-search-container {
	margin-bottom: 15px;
}

header .site-header-menu {
	position: relative;
	z-index: 1;
}

.site-header-main .only-mobile.sidemenu-icon {
	display: flex;
}

.site-header-main .only-desktop.sidemenu-icon {
	display: none;
}

header .desktop-search-container {
	position: relative;
	min-width: 42px;
	min-height: 42px;
}

header .only-desktop .search-form {
	position: absolute;
	top: 0;
	right: 0;
	min-width: 300px;
	min-height: 42px;
}

header .only-desktop input[type="search"].search-field {
	font-family: 'Montserrat';
	transition: width 0.2s;
	width: 0;
	height: 42px;
	padding: 0;
	border: 0;
	position: absolute;
    right: 45px;
}

header .only-desktop input[type="search"].search-field.toggle-search {
	z-index: 2;
    width: 300px;
	border: 1px solid #d1d1d1;
	padding: 0.625em 0.4375em;
}

.dropdown-toggle {
	color: white;
}

.dropdown-toggle:hover, .dropdown-toggle:focus {
	color: #ccac00;
}

.site-header {
	padding: 0 10px;
}

.site-header-main {
	align-items: center;
	justify-content: space-between;
}

.site-branding {
	margin-right: 0;
}

.site-branding .site-title a {
	font-family: 'OriginTech';
	font-weight: normal;
}

.site-branding .site-title a:active {
	color: #e6c619;
}

.site-branding .site-title a:hover {
	color: white;
}

.main-navigation .sub-menu li a {
	color: white;
}

.main-navigation .sub-menu li a:hover {
	color: #ccac00;
}

div.mobile-theme-switcher {
	display: flex;
	justify-content: space-between;
	margin-top: 25px;
}

div.mobile-theme-switcher p {
	color: #d1d1d1;
	margin: 0;
}

/**
 * >= 985px
 */
@media screen and (min-width: 61.5625em) {
	.main-navigation .sub-menu li a {
		color: black;
	}

	.mobile-search-container {
		display: none;
	}

	.entry-summary p {
		line-height: 1.3em;
	}

	.site-header-main .only-mobile.sidemenu-icon {
		display: none;
	}

	.site-header-main .only-desktop.sidemenu-icon {
		display: flex;
	}
}

/**
 * >= 1200px
 */
@media screen and (min-width: 75em) {
	.site-branding .site-title a {
		font-size: 2.1rem;
	}

	.site-branding {
		margin-left: 50px;
	}
}