/**
 * 16.1 Header
 */
.mobile-search-container {
	margin-bottom: 15px;
}

header .site-header-menu {
	position: relative;
	z-index: 1;
}

/* region: theme button */
div.only-desktop.theme-icon-container {
	width: 42px;
	height: 42px;
}

div.only-desktop.theme-icon-container button {
	width: inherit;
	height: inherit;
	color: white;
	text-align: center;
	cursor: pointer;
	background: #1a1a1a;
	padding: 3px 0 0 0;
}

div.only-desktop.theme-icon-container button svg {
	width: 28px;
	height: 28px;
}

html:not(.srcvtx_theme_light) .srcvtx-toggle-light,
html.srcvtx_theme_light .srcvtx-toggle-light {
	display: none;
}

html.srcvtx_theme_dark .srcvtx-toggle-light {
	display: block;
}

html.srcvtx_theme_dark .srcvtx-toggle-dark {
	display: none;
}
/* endregion */

.site-header-main .only-mobile.sidemenu-icon {
	display: flex;
	width: 42px;
	height: 42px;
	justify-content: center;
	align-items: center;
	background-color: #1a1a1a;
	cursor: pointer;
}

.site-header-main .only-mobile.sidemenu-icon span::before {
	font-family: "Genericons";
	content: "\f419";
	font-size: 24px;
	color: white;
}

.site-header-main .only-desktop.sidemenu-icon {
	display: none;
}

header .desktop-search-container {
	position: relative;
	min-width: 42px;
	min-height: 42px;
}

header .only-desktop .search-form {
	position: absolute;
	top: 0;
	right: 0;
	min-width: 300px;
	min-height: 42px;
}

header .only-desktop input[type="search"].search-field {
	font-family: 'Montserrat';
	transition: width 0.2s;
	width: 0;
	height: 42px;
	padding: 0;
	border: 0;
	position: absolute;
    right: 45px;
}

header .only-desktop input[type="search"].search-field.toggle-search {
	z-index: 2;
    width: 300px;
	border: 1px solid #d1d1d1;
	padding: 0.625em 0.4375em;
}

/* region: Main menu */
header .svx-main-desktop-menu {
	justify-content: center;
}

header .svx-main-desktop-menu ul.primary-menu > li.menu-item > a {
	color: #e6c619;
}

header .svx-main-desktop-menu ul.primary-menu > li.menu-item > a:hover {
	color: white;
}
/* endregion */

.dropdown-toggle {
	color: white;
}

.dropdown-toggle:hover, .dropdown-toggle:focus {
	color: #ccac00;
}

.site-header {
	padding: 0 10px;
}

.site-header-main {
	align-items: center;
	justify-content: space-between;
}

.site-branding {
	margin-right: 0;
}

.site-branding .site-title a {
	font-family: 'Inversionz';
	font-weight: normal;
	font-size: 1.7rem;
}

.site-branding .site-title a:active {
	color: #e6c619;
}

.site-branding .site-title a:hover {
	color: white;
}

.main-navigation .sub-menu li a {
	color: white;
}

.main-navigation .sub-menu li a:hover {
	color: #ccac00;
}

div.mobile-theme-switcher {
	display: flex;
	justify-content: space-between;
	margin-top: 25px;
}

div.mobile-theme-switcher p {
	color: #d1d1d1;
	margin: 0;
}

/**
 * >= 783px
 */

@media screen and (min-width: 48.9375em) {
	.site-header {
		height: 111px;
	}
}

/**
 * >= 985px
 */
@media screen and (min-width: 61.5625em) {
	header .svx-main-desktop-menu {
		display: flex;
	}

	.main-navigation .sub-menu li a {
		color: black;
	}

	.mobile-search-container {
		display: none;
	}

	.entry-summary p {
		line-height: 1.3em;
	}

	.site-header-main .only-mobile.sidemenu-icon {
		display: none;
	}

	.site-header-main .only-desktop.sidemenu-icon {
		display: flex;
	}
}

/**
 * >= 1200px
 */
@media screen and (min-width: 75em) {
	.site-branding .site-title a {
		font-size: 3.5rem;
	}

	.site-branding {
		margin-left: 50px;
		margin-top: 0;
		margin-bottom: 0;
	}
}