body {
	font-family: 'Montserrat';
}

body:not(.custom-background-image):after {
	content: unset;
}

.site-header-main .social-navigation a {
	color: white;
}

.no-margin-bottom {
	margin-bottom: 0 !important;
}

.only-desktop {
	display: none;
}

.only-mobile {
	display: block;
}

.line-separator {
	border-bottom: 4px solid #e6c619
}

article.line-separator {
	border-bottom: 0;
}

.box-separator-mobile {
	margin: 20px 15px 0 15px;
}

.line-separator-mobile {
	border-bottom: 2px solid black;
}

.site-content {
	padding-top: 25px;
}

body:not(.home) .site-content {
	padding-top: 60px;
}

footer .main-navigation {
	display: none !important;
}

a {
	color: #c1a300;
}

.entry-title a:hover,
.entry-footer a:hover {
	color: #ccac00;
}

button:hover,
button:active,
button:focus {
	background-color: #ccac00;
}

.pagination .prev:hover {
	background-color: #ccac00;
}

.pagination .next:hover {
	background-color: #ccac00;
}

/* INI: Toggle button */
.srcvtx-switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
}

.srcvtx-switch input { 
	opacity: 0;
	width: 0;
	height: 0;
}

.srcvtx-slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
}

.srcvtx-slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}
/* END: Toggle button */

.srcvtx-switch input:checked + .srcvtx-slider {
	background-color: #e6c619;
}

.srcvtx-switch input:focus + .srcvtx-slider {
	box-shadow: 0 0 1px #e6c619;
}

.srcvtx-switch input:checked + .srcvtx-slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}

footer#colophon .social-navigation a:hover,
footer#colophon .social-navigation a:hover::before {
	color: #e6c619;
}

/**
 * >= 985px
 */
 @media screen and (min-width: 61.5625em) {
	.only-mobile {
		display: none;
	}

	.only-desktop {
		display: unset;
	}
 }

/**
 * >= 1200px
 */
/* @media screen and (min-width: 75em) {
	.only-desktop {
		display: unset;
	}
} */